input{
    border: 1px solid black !important;
    &:focus{
        box-shadow:none !important
    }
}
select{
    padding:0.5rem;
    width:auto !important;
    border: none;
    &:focus-visible{
        outline:none;
    }
}
.active{
    background-color: lightgray;
}
