input{
    border: 1px solid black !important;
    &:focus{
        box-shadow:none !important
    }
}
.cat-select{
    padding:0.5rem;
    width:auto;
    font-size: 1.6rem;
    border: none;
    &:focus-visible{
        outline:none
    }
}
.active{
    background-color: lightgray;
}
